.carousel-item {
    padding-right: 200px;
    padding-left: 200px;
}
.szef{
  height: 520px !important;
  width: 380px !important;
}

@media (max-width: 950px) {
  .carousel-item {
    padding: 0;
  }

  .carousel {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 600px;
  }

  .carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon {
    filter: none !important;
  }

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  img {
    width: 100%;
    margin: 0;
  }
}
