<div id="{{carouselId}}" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div *ngFor="let image of images(); let i = index"
         class="carousel-item"
         [class.active]="i === 0">
      <div class="d-flex flex-wrap justify-content-evenly align-items-center">
        <div class="flex-shrink-0 text-center me-md-3 mb-3 mb-md-0" style="max-width: 400px;">
          <img [ngSrc]="image" class="d-block mx-auto" [ngClass]="{'szef': image === 'gallery/szef.jpg'}" alt="..." width="400" height="400" loading="lazy">
        </div>
        <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center text-center text-md-start" style="min-width: 300px; max-width: 800px;">
          <span class="fw-bold fs-5 image-title">{{imageTitle()[i]}}</span>
          <span class="text-center image-description">{{imageDescription()[i]}}</span>
        </div>
      </div>
    </div>
  </div>
  @if (!hideButtons) {
  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  }
</div>
