<div class="row gx-0">
    <div class="col-12 col-md-8 text-center">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10380.36029310612!2d22.2358333!3d49.4261111!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473c0bfe46c94445%3A0x66b9d4ff82d2ab6f!2sChutor%20Kozacki!5e0!3m2!1spl!2spl!4v1721310496519!5m2!1spl!2spl"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-3 mt-md-0 justify-content-center contact-box">
    </div>
</div>
