.contact-box {
  background: #2B2017;
  background: linear-gradient(90deg, rgba(43, 32, 23, 1) 0%, rgba(71, 57, 34, 1) 100%);
  color: white;
}
.icon-text {
  padding-left: 10px;
}
.contact-row {
  padding-top: 15px;
}
.row {
    height: 350px;
}
.minimalist-style {
  background-color: #fafafa;
  border-radius: 0;
}

.minimalist-style .form-control {
  background-color: transparent;
  padding-left: 0;
}

.minimalist-style .form-control:focus {
  box-shadow: none;
  border-color: #000;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}
@media (max-width: 950px) {
  .contact-row {
    padding-top: 0;
  }
  .contact-box {
    height: 400px;
    gap: 20px;
  }
  .map {
    height: 400px;
  }
}
