.gallery-image {
  height: 350px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}
.gallery-image:hover {
  transform: scale(1.03);
}
.modal-img {
  max-height: 70vh;
}
.divider-with-text {
  margin: 20px 150px;
  display: flex;
  align-items: center;
  text-align: center;
}
.divider-with-text::before,
.divider-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid black;
  margin: 0 10px;
}

.divider-with-text span {
  color: black;
  font-size: 42px;
}
