.footer {
    background-color: #213e60;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.contact, .events, .team, .menu {
  color: black;
}
.row {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.divider-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
  }

  .divider-with-text::before,
  .divider-with-text::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid black;
    margin: 0 10px;
  }

  .divider-with-text span {
    color: black;
    font-size: 42px;
  }

@media (max-width: 950px) {
    .row {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
