.menu-item {
  margin-bottom: 10px;
}

.item-title {
  font-size: clamp(1.1em, 4vw, 1.4em);
  color: #2B2017;
}

.item-description {
  color: #555;
  font-size: 1em;
  margin-bottom: clamp(14px, 4vw, 26px);
}

.item-price {
  font-weight: bold;
}
