<div class="row gx-0 team" id="team">
  @defer (on viewport) {
    <div class="fade-in">
      <app-carousel purpose="Załoga" [images]="staffImage" [imageTitle]="staffTitle" [imageDescription]="staffImageDescription"></app-carousel>
    </div>
  } @placeholder {
    <div class="placeholder">Loading team section...</div>
  }
</div>

<div class="row gx-0 menu">
  @defer (on viewport) {
    <div class="fade-in">
      <app-menu class="mt-5"></app-menu>
    </div>
  } @placeholder {
    <div class="placeholder">Loading menu...</div>
  }
</div>

<div class="row gx-0 events" id="events">
  <div class="divider-with-text">
    <span class="menu-header">Wydarzenia</span>
  </div>
  @defer (on viewport) {
    <div class="fade-in">
      <app-carousel purpose="Wydarzenia" [images]="eventImage" [imageTitle]="eventTitle" [imageDescription]="eventImageDescription"></app-carousel>
    </div>
  } @placeholder {
    <div class="placeholder">Loading events...</div>
  }
</div>

<div class="row gx-0 contact" id="contact">
  <div class="divider-with-text">
    <span class="menu-header">Kontakt</span>
  </div>
  @defer (on viewport) {
    <div class="fade-in">
      <app-contact></app-contact>
    </div>
  } @placeholder {
    <div class="placeholder">Loading contact section...</div>
  }
</div>

<div class="row gx-0 footer mt-5">
  @defer (on viewport) {
    <div class="fade-in">
      <app-footer></app-footer>
    </div>
  } @placeholder {
    <div class="placeholder">Loading footer...</div>
  }
  <span>Chutor Kozacki {{currentYear}}</span>
</div>


<ng-template #welcomeModal let-modal>
  <div class="text-center position-relative">
    <button type="button"
            class="btn-close position-absolute top-0 end-0 m-3 bg-white z-3"
            (click)="modal.dismiss()">
    </button>
    <img src="/plakat-luty.jpg" class="modal-image z-2" alt="Welcome promo">
  </div>
</ng-template>
