.contact, .events, .team, .menu {
  color: black;
}
.row {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider-with-text::before,
.divider-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid black;
  margin: 0 10px;
}

.divider-with-text span {
  color: black;
  font-size: 42px;
}
.footer {
  background-color: black;
  margin-left: 0 !important;
  margin-right: 0 !important;
  text-align: center;
}

@media (max-width: 950px) {
  .row {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  #events {
    height: 100%;
  }
  #team {
    height: 100%;
  }
  #contact {
    height: 100%;
    margin-bottom: 490px
  }
  .footer {
    height: 100%;
  }
}
