<div class="row gx-0 team" id="team">
  <div class="divider-with-text">
    <span class="menu-header">Załoga</span>
  </div>
  <app-carousel purpose="Załoga" [images]="staffImage" [imageTitle]="staffTitle" [imageDescription]="staffImageDescription"></app-carousel>
</div>
<div class="row gx-0 menu">
  <app-menu class="mt-5"></app-menu>
</div>
<div class="row gx-0 events" id="events">
  <div class="divider-with-text">
    <span class="menu-header">Wydarzenia</span>
  </div>
  <app-carousel purpose="Wydarzenia" [images]="eventImage" [imageTitle]="eventTitle" [imageDescription]="eventImageDescription"></app-carousel>
</div>
<div class="row gx-0 contact" id="contact">
  <div class="divider-with-text">
    <span class="menu-header">Kontakt</span>
  </div>
  <app-contact></app-contact>
</div>
<div class="row gx-0 footer mt-5">
  <app-footer></app-footer>
  <span>Chutor Kozacki {{currentYear}}</span>
</div>


<ng-template #welcomeModal let-modal>
  <div class="text-center position-relative">
    <button type="button"
            class="btn-close position-absolute top-0 end-0 m-3 bg-white"
            (click)="modal.dismiss()">
    </button>
    <img src="/promo-zdjecie.png" alt="promo" class="modal-image">
  </div>
</ng-template>
