<div class="container">
  <div class="row">
      <h1>Przekąski zimne</h1>
      @for ( item of appetizers; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Przekąski gorące</h1>
      @for ( item of hotSnacks; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Zupy</h1>
      @for ( item of soups; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Dania główne</h1>
      @for ( item of mainCourses; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Desery</h1>
      @for ( item of desserts; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Dla dzieci</h1>
      @for ( item of kidsMenu; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
      <h1>Dodatki</h1>
      @for ( item of sides; track item.title) {
        <app-menu-list-item
          [itemTitle]="item.title"
          [itemDescription]="item.description"
          [itemPrice]="item.price"
        ></app-menu-list-item>
      }
    <h1>Napoje ciepłe</h1>
    @for ( item of hotDrinks; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Napoje zimne</h1>
    @for ( item of coldDrinks; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Piwo beczkowe</h1>
    @for ( item of tapBeer; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Piwo butelkowe, grzańce i ...</h1>
    @for ( item of bottledBeer; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Wódki czyste</h1>
    @for ( item of vodkaClear; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Wódki gatunkowe</h1>
    @for ( item of vodkaCraft; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Wermut</h1>
    @for ( item of wermut; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Tequila</h1>
    @for ( item of tequila; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Likiery</h1>
    @for ( item of liquors; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Gin</h1>
    @for ( item of gin; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Rum</h1>
    @for ( item of rum; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Brandy</h1>
    @for ( item of brandy; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Bourbon</h1>
    @for ( item of bourbon; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Whisky</h1>
    @for ( item of whisky; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
    <h1>Koktajle</h1>
    @for ( item of cocktails; track item.title) {
      <app-menu-list-item
        [itemTitle]="item.title"
        [itemDescription]="item.description"
        [itemPrice]="item.price"
      ></app-menu-list-item>
    }
  </div>
</div>
