<div class="menu-wrap">
  <div class="accordion" id="menu">

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#appetizers" aria-expanded="false" aria-controls="appetizers">
          Przekąski zimne
        </button>
      </h2>
      <div id="appetizers" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of appetizers; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hotSnacks" aria-expanded="false" aria-controls="hotSnacks">
          Przekąski gorące
        </button>
      </h2>
      <div id="hotSnacks" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of hotSnacks; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#soups" aria-expanded="false" aria-controls="soups">
          Zupy
        </button>
      </h2>
      <div id="soups" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of soups; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainCourses" aria-expanded="false" aria-controls="mainCourses">
          Dania główne
        </button>
      </h2>
      <div id="mainCourses" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of mainCourses; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#desserts" aria-expanded="false" aria-controls="desserts">
          Desery
        </button>
      </h2>
      <div id="desserts" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of desserts; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kidsMenu" aria-expanded="false" aria-controls="kidsMenu">
          Dla dzieci
        </button>
      </h2>
      <div id="kidsMenu" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of kidsMenu; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sides" aria-expanded="false" aria-controls="sides">
          Dodatki
        </button>
      </h2>
      <div id="sides" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of sides; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hotDrinks" aria-expanded="false" aria-controls="hotDrinks">
          Napoje ciepłe
        </button>
      </h2>
      <div id="hotDrinks" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of hotDrinks; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#coldDrinks" aria-expanded="false" aria-controls="coldDrinks">
          Napoje zimne
        </button>
      </h2>
      <div id="coldDrinks" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          @for ( item of coldDrinks; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alcohol" aria-expanded="false" aria-controls="alcohol">
          Alkohole
        </button>
      </h2>
      <div id="alcohol" class="accordion-collapse collapse" data-bs-parent="#menu">
        <div class="accordion-body">
          <span class="spirit-group-header">Piwo</span>
          @for ( item of beer; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Wódki czyste</span>
          @for ( item of vodkaClear; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Wódki gatunkowe</span>
          @for ( item of vodkaCraft; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Wermut</span>
          @for ( item of wermut; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Tequila</span>
          @for ( item of tequila; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Likiery</span>
          @for ( item of liquors; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Gin</span>
          @for ( item of gin; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Bourbon</span>
          @for ( item of bourbon; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Whisky</span>
          @for ( item of whisky; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
          <span class="spirit-group-header">Koktajle</span>
          @for ( item of cocktails; track item.title) {
            <app-menu-list-item
              [itemTitle]="item.title"
              [itemDescription]="item.description"
              [itemPrice]="item.price"
            ></app-menu-list-item>
          }
        </div>
      </div>
    </div>

  </div>
</div>
